@import url('https://fonts.googleapis.com/css2?family=Jersey+25+Charted&family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Poetsen One", sans-serif; */
    font-family: "Ubuntu Sans", sans-serif;
    /* font-weight: 400; */
    font-style: normal;
    background-color: #000000f1;
    overflow-x: hidden;
}



/* Define the styles for the scrollbar */
::-webkit-scrollbar {
    width: 4px; /* width of the scrollbar */
  }
  
  /* Track styles */
  ::-webkit-scrollbar-track {
    background: #222020; /* color of the track */
  }
  
  /* Handle styles */
  ::-webkit-scrollbar-thumb {
    background: #282727; /* color of the handle */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* color of the handle on hover */
  }
  